<div id="<%= dom_id task %>">
  <p class="box">
    <strong>Title:</strong>
    <%= task.task_title %>
  </p>

  <p class="box">
    <strong>Description:</strong>
    <%= task.task_desc %>
  </p>

  <p class="box"> 
    <strong>Date:</strong>
    <%= task.task_date %>
  </p>

  <p class="box"> 
    <strong>Status:</strong>
    <% if task.task_completed == true %>
      Completed
    <% else %>
      To do
    <% end %>
  </p>