<div class="container">
  <h1>Edit Task</h1>
  
  <%= render "form", task: @task %>
  
  <br>
  
  <div>
    <button class="btn blue"><%= link_to "Show", @task %></button>
    <button class="btn gray"><%= link_to "Back", tasks_path %></button>
  </div>
</div>
