<div class="container">

  <h1>Task</h1>

  <div class="form">
    <%= render @task %>
    
    <div class="actions">
      <%= link_to "Edit", edit_task_path(@task), :class => 'btn blue' %>
      <%= link_to "Back", tasks_path, :class => 'btn gray' %>
      <%= button_to "Destroy this task", @task, method: :delete, :class => 'btn red' %>
    </div>
  </div>
</div>
